workflows/stock-alert.json
{
  "name": "Stock Alert",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "8c601c15-5432-4ed6-8846-ac6b5afb4a3a",
      "name": "Telegram Trigger",
      "webhookId": "REPLACE_WITH_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "{{TELEGRAM_API}}",
          "name": "Telegram account name"
        }
      }
    },
    {
      "parameters": {
        "url": "https://finnhub.io/api/v1/quote",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{$json[\"message\"][\"text\"]}}"
            },
            {
              "name": "token",
              "value": "{{FINNHUB_API_KEY}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "af0faf2a-ba3e-4001-b041-6d975f449432",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04cf5e42-f945-409e-bc78-9844ef664384",
              "leftValue": "={{$json[\"c\"]}}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "9d524360-36df-4905-932d-e74f12aa3945",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "5fd90692-2a40-4beb-b611-77a6dad48fd3",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}\n",
        "text": "=Stock Alert! {{$json[\"message\"][\"text\"]}} price is now {{$node[\"HTTP Request\"].json[\"c\"]}} USD.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        -96
      ],
      "id": "61093661-1829-4cd0-8b52-d004aeedaf41",
      "name": "Send a text message",
      "webhookId": "REPLACE_WITH_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "{{TELEGRAM_API}}",
          "name": "Telegram account name"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "785565fc-9d53-41d6-9cc6-7f6155b1894e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0eac7f73fe9249a0d5d55969cde08cbcac0c22e3faba312cfe3b103cd3aa6d48"
  },
  "id": "xqgR6LuuzXkbYm7T",
  "tags": []
}